* {
    box-sizing: border-box;
}

.headerContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.mainTitle {
    text-align: center;
}

.sunrise {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.sunset {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.container {
    border: 1px solid black;
    width: 80vw;
    height: 95vh;
    margin: 0 auto;
}

.weatherInfoContainer {
    display: flex;
    justify-content: space-around;
}

.tempBox {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

.tideInfoContainer {
    border: 1px solid black;
    width: 80%;
    height: 20%;
    margin: 5px auto;
}

.swellInfoContainer {
    border: 1px solid black;
    width: 80%;
    height: 20%;
    margin: 5px auto;
}

.pictureInfoContainer {
    border: 1px solid black;
    width: 80%;
    height: 20%;
    margin: 5px auto;
}
